 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>TITLE</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" type="text/css" href="styles.css" />
 </head>

 <body>
   <div class="user_gallery">
        <div class="row">
          {{#users}}
          <div class="card">
            <img src="{{avatar}}"/>
            <h1>{{name}}</h1>
            <p>{{job}}</p>    
          </div>

          {{/users}}
        </div>
      </div>
   <ul>
   {{#users}}
     <li>{{name}}</li>
   {{/users}}
   </ul>
 </body>

 </html>
