 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>TITLE</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="./styles.css">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
   <div class="container">
         <div class="row">
           <div class="col-xs-12">
             <!-- TODO write your HTML/Mustache here -->

             <ul class="todo-list">
               {{user}}
             </ul>


           </div>
         </div>
       </div>

<script></script>
 </body>

 </html>
